/*PRIMITIVES*/
:root {
    --color-white: #F0F5E2;
    --color-black: #141413;
    --color-light: #A52A2AFF;

    --font-size-xs: 12pt;
    --font-size-sm: 14pt;
    --font-size-md: 24pt;
    --font-size-lg: 30pt;
    --font-size-xl: 45pt;

    --space-1: 4px;
    --space-2: 20px;
    --space-3: 40px;
    --space-4: 70px;
}
/*SEMANTIC TOKENS*/
:root{
    --bg-page: var(--color-white);
    --text-color: var(--color-black);
    --text-color-hover: var(--color-light);
}
[data-theme="dark"] {
    --bg-page: var(--color-black);
    --text-color: var(--color-white);
    --text-color-hover: var(--color-light);
}

body {
    background: var(--bg-page);
    color: var(--text-color);
    margin: 0;
    font-family: "Ubuntu","Noto Sans", sans-serif;
}
body, .card {
    transition: background 0.3s ease, color 0.3s ease;
}
hr {
    border: none;
    height: 2px;
    margin: 0;
    background-color: var(--text-color);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--space-1) var(--space-2) 0 var(--space-2);
}
.nav li {
    margin-left: 20px;
}
.navbar{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Navoption:hover{
    background:var(--text-color-hover);
}
main{
    padding:var(--space-3)
}
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}
.card{
    padding: 25px;
    flex-direction: column;
    border-radius: 10px;
}
/*-----文字設定-----*/
.title{
    color: var(--text-color);
    align-items: start;
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: var(--space-2) var(--space-2)  var(--space-2)  var(--space-3);
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease;
}
.title.visible {
    opacity: 1;
    transform: translateY(0);
}
.project-title{
    color: var(--text-color);
    align-items: start;
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: var(--space-2) var(--space-2)  var(--space-2)  var(--space-3);
}
.word{
    text-align: left;
    line-height: 1.8;
    font-size: var(--font-size-sm);
}
.detail{
    font-size: var(--font-size-xs);
    margin: 0;
}
/*-----圖片設定------*/
.work-picture{
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius:10px;
    transform: translateX(0);
    transition: all 0.5s ease;
}
.work-picture:hover{
    transform: translateX(-10px)
}
/*-----互動設定------*/
.form{
    justify-content: center;
}
.contact{
    margin: 10px 0 10px 0;
    height: 40px;width: 300px;
    border: var(--text-color) solid 1px;
    border-radius: 3px;
}
.contact:hover{
    background: var(--color-light);
}
.button {
    margin: 20px 0 0 0;
    height: 40px;width: 100px;
    border: var(--text-color) solid 1px;
    border-radius: 3px;
}
.back{
    text-align: center;
    color:var(--text-color);
    display: block;
}
.back:hover{cursor: pointer;}
.back2{
    text-align: center;
    color:var(--text-color);
    display:none;
}
.back2:hover{cursor: pointer;}
.footer{
    display: flex;
    justify-content: left;
    padding-left: 10%;
}
.linkbox{
    width: 35%;
    height: 130px;
    text-align: left;
}
a{text-decoration: none;}
a:visited{ color:var(--text-color); }
a:link{ color:var(--text-color); }

/*-----平板(1250)設定------*/
@media(max-width:1250px){
    .work{
        height: 250px;
        width: 300px;
    }
}

/*-------手機設定(500)------*/
@media(max-width:500px){
    .works{
        margin-left: 30px;
    }
    .word{
        font-size: 15px;
    }
    #profile-area{
        flex-direction: column;
        padding: 30px;
    }
    .title{
        font-size: var(--font-size-md);
    }
    .word{
        font-size: var(--font-size-xs);
    }
    .work{
        height: 200px;
        width: 300px;
        border-radius:10px;
    }
    .crying{
        display: none;
    }
    .form{
        margin-left: 30px;
        padding-top: 50px;
    }
    .back{
        display: none;
    }
    .back2{
        display: block;
    }
}