/* 定義自訂字體 */
@font-face {
    font-family: 'MyCustomFont';
    src: url('Cubic_11.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 使用自訂字體 */
body {
    font-family: 'MyCustomFont', sans-serif;
    background: #010101;
    color: #f4ffc0;
}

.head{
    display: flex;
    transform: none;
}
.headline{
    width: 50%;
    font-size: 30pt;
}
.head-box{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    position: fixed;
}
.head-c{
    text-align: right;
    margin-top: 5px;
    margin-right: 30px;
    font-size: 15pt;
    align-items: end;
}
.welcome-box{
   height: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.welcome{
    height: 200px;
    width: 80%;
}
.slideshow {
    position: relative;
    margin: 30px;
    display: flex;
    justify-content:center;align-items:center;
    height: 230px;
}
.line{
    height: 2px;
    width: 2px;
    background: #f4ffc0;
}
.carousel {
    width: 100%; /* 容器寬度 */
    height: 200px;
    overflow: hidden; /* 隱藏溢出的內容 */
    position: relative;
    margin-bottom: 50px;
}

.carousel-track {
    display: flex;
    position: relative;
    white-space: nowrap; /* 避免折行 */
}

.carousel-track img {
    height: 200px;
    flex-shrink: 0;
}
.list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.object{
    font-size: 20px;color: azure;
    text-align: center;vertical-align:middle;
    background-color:#f4ffc0;
    line-height:100px;width: 280px;
    margin: 10px;
    border-radius: 10px;
}
.area{
    height: 700px;
    text-align: center;
    font-size: 40px;
    margin: bottom 30px;
}
.back{
    text-align: center;
    color:#f4ffc0;
    display: block;
}
.back2{
    text-align: center;
    color:#f4ffc0;
    display:none;
}
/*平板設定*/
@media(max-width:1250px){
    .headline{
        font-size: 20px;
    }
    .list{
        flex-wrap:wrap
    }
    .object{
        width: 45%
    }
    .back{
        display: none;
    }
    .back2{
        display: block;
    }
}

/*手機設定*/
@media(max-width:500px){
    .object{
        width: 90%
    }
    .list{
        flex-wrap:wrap
    }
    .back{
        display: none;
    }
    .back2{
        display: block;
    }
}
a:link {color: black;}
a:visited {color:black;}
a:hover {color: green;}
a:active {color: red;}