/* 定義自訂字體 */
@font-face {
    font-family: 'MyCustomFont';
    src: url('SourceHanSans-VF.ttf.ttc') format('woff2');
    font-style: normal;
}

/* 使用自訂字體 */
body {
    font-family: 'MyCustomFont', sans-serif;
    background: #010101;
    color: #85e3c5;
}
.header{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    width: 90%;
    font-size: 15px;
}
.Navoption{
    margin: 12px;
    filter: invert(10%);
}
.Navoption:hover{
    background: #85e3c5;
}
.porfile-picture{
    height: 200px;width: 200px;
    border: 1px solid white ;
    border-radius: 10px;
    margin-right: 50px;
}
.dec01{
    height: 200px;
    background: #F7F7F7;
}
.dec02{
    height: 80px;
    background: #F7F7F7;
}
.area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    width: 90%;
    margin-bottom :100px;
}
.article{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.title{
    margin-left: 150px;margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}
.word{
    text-align: left;
    line-height: 1.6;
    color: #85e3c5;
    font-size: 20px;
    font-weight:lighter;
}
.work{
    height: 300px;
    width: 400px;
    border:2px dashed white;
    border-radius:10px;
}
.mypicture:hover{
    height: 200px;
}
.mypicture_ching02{
    width: 70%;
}
.mypicture_book01{
    width: 60%;
}
.form{
    justify-content: center;
    margin-left: 10%;
    padding-top: 50px;
}
.contact{
    margin-top: 10px;margin-bottom: 10px;
    height: 40px;width: 300px;
    background: #85e3c5;
    border: 0;
    border-radius: 3px;
    outline:none;
}
.contact:hover{
    background: #F7F7F7;
}
.button {
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;width: 100px;
    background: #85e3c5;
    border: 0;
    border-radius: 3px;
    outline:none;
}
.back{
    text-align: center;
    color:#85e3c5;
    display: block;
}
.back2{
    text-align: center;
    color:#85e3c5;
    display:none;
}
.footer{
    display: flex;
    justify-content: left;
    padding-left: 10%;
    color:#010101;
    background: #85e3c5;
    font-size: 15px;
}
.linkbox{
    width: 35%;
}
.link{
    text-align: left;
    margin: 10px;
}
a:link {color: #010101;}
a:visited {color: #010101;}
a:hover {color:red;}
a:active {color: red;}

/*平板設定*/
@media(max-width:1250px){
    .headline{
        font-size: 20px;
    }
    .nav{
        font-size: 15px;
        width: 95%;
    }
    .Navoption{
        font-size: 14px;
    }
    .area{
        width: 90%;
    }
    .word{
        font-size: 14px;
    }
    .work{
        height: 250px;
        width: 350px;
    }
    .mypicture{
        height: 150px;
    }
    .mypicture_ching02{
        width: 90%;
    }
}

/*手機設定*/
@media(max-width:500px){
    .nav{
        display: none;
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .word{
        font-size: 12px;
    }
    .work{
        height: 200px;
        width: 300px;
        border-radius:10px;
    }
    .mypicture{
        height: 120px;
        width: 120px;
        line-height: 1.2;
    }
    .mypicture_ching02{
        width: 100%;
    }
    .mypicture_book01{
        width: 70%;
    }
    .back{
        display: none;
    }
    .back2{
        display: block;
    }
}