/*PRIMITIVES*/
:root {
    --color-white: #F0F5E2;
    --color-black: #141413;
    --color-light: #77f870;
    
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
}
/*SEMANTIC TOKENS*/
:root {
    --bg-page: var(--color-white);
    --text-color: var(--color-black);
    --text-color-hover: var(--color-light);
}
/*SEMANTIC TOKENS__DARK*/
[data-theme="dark"] {
    --bg-page: var(--color-black);
    --text-color: var(--color-white);
    --text-color-hover: var(--color-light);
}

body {
    background: var(--bg-page);
    color: var(--text-color);
    margin: 0;
    font-family: "Ubuntu","Noto Sans", sans-serif;
}
/*平滑轉換主題*/
body, .card {
    transition: background 0.3s ease, color 0.3s ease;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    overflow: hidden;
}
.nav{
    z-index: 50;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 15px;
}
.logo{
    z-index: 60;
    position: fixed;
    font-size:25px;
    margin-top: 5px;
    margin-left: 5px;
}
.Navoption{
    margin: 12px;
}
.Navoption:hover{
    background:var(--text-color-hover);
}
.article{
    padding: 25px;
    flex-direction: column;
    /*擴散顏色效果*/
    background: radial-gradient(circle at center, #ffffff 0%, #ffffff 0%, #ffffff 100%);
    background-size: 0% 0%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 1s ease;
    border-radius:10px;
}
.article:hover {
    background-size: 200% 200%;
}
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    
}
.area2{
    margin:100px 0 100px 0;
    display: flex;
    align-items: start;
}
.title-space{
    padding:0 8% 0 8%;
    display: flex;
    flex-direction:column;
    
    margin-bottom: 40px;
}
/*文字設定*/
.title{
    align-items: start;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.8s ease;
}
.title.visible {
    opacity: 1;
    transform: translateY(0);
}
.title-phone{
    font-size: 20pt;
    font-weight: bold;
    display: none;
    margin-top: 20px;
    margin-left: 30px;
}
.word{
    text-align: left;
    line-height: 1.8;
    font-size: 18px;
}
.porfile-word{
    gap:20px;
    display:flex;
    flex-direction: row
}
/*圖片設定*/
.work-picture{
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius:10px;
}
/*互動設定*/
.form{
    justify-content: center;
}
.contact{
    margin: 10px 0 10px 0;
    height: 40px;width: 300px;
    border: var(--text-color) solid 1px;
    border-radius: 3px;
}
.contact:hover{
    background: var(--color-light);
}
.button {
    margin: 20px 0 0 0;
    height: 40px;width: 100px;
    border: var(--text-color) solid 1px;
    border-radius: 3px;
}
.back{
    text-align: center;
    color:var(--text-color);
    display: block;
}
.back:hover{cursor: pointer;}
.back2{
    text-align: center;
    color:var(--text-color);
    display:none;
}
.back2:hover{cursor: pointer;}
.footer{
    display: flex;
    justify-content: left;
    padding-left: 10%;
    font-size: 15px;
}
.linkbox{
    width: 35%;
    height: 130px;
}
.link{
    text-align: left;
    margin-top: 10px;
}
a{text-decoration: none;}
a:visited{ color:var(--text-color); }
a:link{ color:var(--text-color); }

/*平板設定*/
@media(max-width:1250px){
   .Navoption{
        font-size: 14px;
    }
    .work{
        height: 250px;
        width: 300px;
    }
    .porfile-picture{
        height: 100px;
        width: 100px;
    }
}

/*手機設定*/
@media(max-width:500px){
    .area2{
        margin-top: 20px;
    }
    .works{
        margin-left: 30px;
    }
    .word{
        font-size: 15px;
    }
    .porfile-word{
        flex-direction: column;
    }
    #profile-area{
        flex-direction: column;
        padding: 30px;
    }
    .title{
        display: none;
    }
    .title-space{
        display: none;
    }
    .title-phone{
        margin-top: 50px;
        display: block;
    }
    .word{
        font-size: 14px;
    }
    .work{
        height: 200px;
        width: 300px;
        border-radius:10px;
    }
    .crying{
        display: none;
    }
    .form{
        margin-left: 30px;
        padding-top: 50px;
    }
    .back{
        display: none;
    }
    .back2{
        display: block;
    }
}